html,body
{
    width: 100%;
    height: 100%;
    border: 0px;
    overflow: auto;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    color: #000;
    font-size: 12px;
}

body,table,tr,td,div
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

b
{
    color: #000;
    font-weight: bold;
}

#Wrapper
{
    min-height: 720px;
}

#Main,#Content,#Footer
{
    width: 980px;
    margin: 0 auto;
}

.title
{
    font-family: Segoe UI, Arial;
    font-weight: normal;
    color: #000;
    font-size: 33px;
    text-align: center;
}

#HeadingContents{
    margin: auto;
}

.headerText
{
    font-family: Segoe UI, Arial;
    font-weight: normal;
    color: #000;
    font-size: 14px;
    text-align: center;
    width: 60%;
    margin:30px auto 30px auto;
}

.solver{
    margin: 35px auto 0 auto;
}

#solve{
    padding:15px 10px;
    background-color: green;
    color: white;
    border:1px dashed white;
}

a
{
    color: #ccc;
    text-decoration: none;
}

a:hover
{
    color: #666;
    text-decoration: none;
}

#Content
{
    float: left;
    padding-bottom: 50px;
}

#sudokuBoard
{
    width: 606px;
    margin:auto;
    margin-top: 40px;
    box-shadow: 0px 0px 30px #aaa;
    -moz-box-shadow: 0px 0px 30px #aaa;
    -webkit-box-shadow: 0 0 30px #aaa;
}

#Footer
{
    margin-top: 600px;
    color: #910502;
}

#FooterDetails
{
    float: left;
    font-size: 11px;
}

#Copyright
{
    float: right;
    font-size: 10px;
}

td.darkCells,td.lightCells
{
    background-color: #666;
}

td.darkCells td.boardCell
{
    width: 64px;
    height: 64px;
    border: 1px solid #aaa;
    background-color: #888;
}

td.lightCells td.boardCell
{
    width: 64px;
    height: 64px;
    border: 1px solid #ccc;
    background-color: #999;
}

.staticValue
{
    font-family: Segoe UI, Arial;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: #ddd;
}

.staticValue,.boardElement
{
    width: 62px;
    height: 62px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #666;
}

.boardElement:hover
{
    background: #555;
}

label
{
    position: relative;
    top: 3px;
    line-height: 24px;
    font-size: 15px;
    color: #FFFFFF;
}

select
{
    font-family: Arial;
    color: #999999;
    font-weight: normal;
    font-size: 12px;
    border-top: solid 1px #CCCCCC;
    border-left: solid 1px #E2E3EA;
    border-bottom: solid 1px #FFFFFF;
    border-right: solid 1px #E2E3EA;
    margin: 3px 0px;
    min-width: 100px;
    background: #FDFDFD;
}

.boardElement input
{
    font-family: Segoe UI, Arial;
    font-size: 30px;
    color: #FFFFFF;
    width: 64px;
    height: 64px;
    padding: 0px;
    border: 0px;
    background: none !important;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: -1px;
}

input[type="submit"]
{
    font-family: Arial;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    min-width: 162px;
    min-height: 34px;
    background: url('images/submitBackground.jpg') repeat-x;
    margin: 8px 0px;
    cursor: pointer;
}

small
{
    font-size: 14px;
    color: #FFFD7B;
}
